<div class="content-wrapper">
  <div class="rectangle" (click)="changeImage()">
    <ng-container *ngIf="!uploadedImage">
      <p>Haz clic para añadir una imagen</p>
    </ng-container>
    <ng-container *ngIf="uploadedImage">
      <img [src]="uploadedImage" alt="Imagen subida" />
    </ng-container>
  </div>

  <div class="circle" (click)="changeCircleImage()">
    <ng-container *ngIf="!uploadedCircleImage">
      <p>Haz clic para añadir una imagen</p>
    </ng-container>
    <ng-container *ngIf="uploadedCircleImage">
      <img [src]="uploadedCircleImage" alt="Imagen circular" />
    </ng-container>
  </div>

  <div class="username-container">
    <input type="text" [(ngModel)]="username" class="username-input" readonly />
  </div>

  <div class="description-container">
    <span>Descripción</span>
  </div>

  <div class="lines-container">
    <div class="line" *ngFor="let line of lines; let i = index">
      <textarea
        [(ngModel)]="line.text"
        class="line-input"
        (input)="moveFocus(i)"
        [attr.maxlength]="maxLength"
        [id]="'input-' + i"
        [rows]="1"
      ></textarea>
    </div>
  </div>

  <div class="logros-container">
    {{ logrosTexto }}
  </div>

  <div class="circle-container">
    <div class="circle2" *ngFor="let achievement of userAchievements">
      <img
        [src]="'data:image/jpeg;base64,' + achievement.image"
        [alt]="achievement.name"
        class="achievement-image"
      />
    </div>
    <div class="circle2" *ngFor="let empty of remainingCircles">
      <p>Sin logro</p>
    </div>
  </div>
</div>
