:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;

  canvas {
    border: 2px solid #0f0;
    background-color: #111;
    display: block;
  }
}



.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #000000;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
  max-width: 400px;
  width: 90%;
}

.modal h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #ff0000;
}

.modal p {
  margin-bottom: 20px;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:first-child {
  background-color: #00e676;
  color: #000;
}

button:last-child {
  background-color: #e53935;
  color: #fff;
}

button:hover {
  transform: scale(1.05);
}

.logro-popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100px);
  background: #000000;
  color: rgb(0, 129, 21);
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 0 10px #2e7d32;
  z-index: 1000;
  animation: bajarSubir 3s ease forwards;
}

@keyframes bajarSubir {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100px);
  }
}